
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.venv/
env/
venv/
.DS_Store
Thumbs.db
data/raw/*
!data/raw/README.md
data/processed/*
!data/processed/README.md
reports/figures/*
!reports/figures/.gitkeep
.vscode/
